@model List<Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="text-right">
    <a asp-action="cadastrar" class="btn btn-outline-dark mb-2">Cadastrar</a>
</div>
<table class="table">

    <tr>
        <th> ID </th>
        <th> Modelo </th>
        <th> Ano </th>
        <th> Valor </th>
        <th> Automatico </th>
        <th> Data de Compra </th>
    </tr>
    @foreach (var item in Model)
     {
            <tr>
                <td>@item.ID </td>
                <td>@item.Modelo  </td>
                <td>@item.Ano  </td>
                <td>@item.Valor  </td>
                <td>@item.Automatico  </td>
                <td>@item.DataCompra  </td>
            </tr>
     }
</table>


